<h1>Leagues</h1>
<div class="columns is-multiline is-mobile is-centered is-variable is-2-desktop">
  <% leagues.each do |league| %>
    <div class="column is-3-desktop is-half-tablet is-full-mobile">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <%= image_tag(league.image_url) if league.image_url.present? %>
          </figure>
        </div>`
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= league.name %></p>
              <p class="subtitle is-6"><%= league.start_date %> - <%= league.end_date %></p>
            </div>
          </div>

          <div class="content three-lines">
            <%= league.description %>>
          </div>

          <footer class="card-footer">
            <%= link_to "Show", league, class: "card-footer-item" %>
            <%= link_to "Edit", edit_league_path(league), class: "card-footer-item" if policy(league).update? %>
            <%= link_to "Join", join_league_path(league), data: { turbo_method: :post }, class: "card-footer-item" if policy(league).join? %>
          </footer>
        </div>
      </div>
    </div>
  <% end %> <!--- end of table --->
</div> <!--- end of columns --->
<%= link_to "New League", new_league_path %>
