<p>
  <strong>Name:</strong>
  <%= league.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= league.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= league.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= league.end_date %>
</p>

<p>


<strong>Contests:</strong>
<table class='table'>
    <thead class="table-dark">
      <tr>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% league.contests.each do |contest| %>
        <tr>
          <td><%= contest.date %></td>
          <td><%= link_to "Show", contest %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<%= link_to 'Back', leagues_path %>
