<section>
  <p>
    <strong>Name:</strong>
    <%= league.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= league.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= league.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= league.end_date %>
  </p>
</section>

<section>
<% if memberships.any? %>
  <table class="table">
    <thead>
    <tr>
      <th><abbr title="Position">Pos</abbr></th>
      <th>Team</th>
      <th><abbr title="Played">Pld</abbr></th>
      <th><abbr title="Won">W</abbr></th>
      <th><abbr title="Drawn">D</abbr></th>
      <th><abbr title="Lost">L</abbr></th>
      <th><abbr title="Goals for">GF</abbr></th>
      <th><abbr title="Goals against">GA</abbr></th>
      <th><abbr title="Goal difference">GD</abbr></th>
      <th><abbr title="Points">Pts</abbr></th>
      <th>Qualification or relegation</th>
    </tr>
    </thead>
    <tbody>
    <% memberships.each do |membership| %>
      <tr>
        <th><%= membership.user.email %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
</section>

<section>
  <h2>Today contests</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Place</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <% today_contests.each do |contest| %>
      <tr>
        <td><%= contest.place %></td>
        <td><%= contest.date %></td>
        <td>
          <%= link_to 'Show', contest %>
          <%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>

<section>
  <h2>Upcoming contests</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Place</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <% upcoming_contests.each do |contest| %>
      <tr>
        <td><%= contest.place %></td>
        <td><%= contest.date %></td>
        <td>
          <%= link_to 'Show', contest %>
          <%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>

<section>
<h2>Past contests</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Place</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <% past_contests.each do |contest| %>
      <tr>
        <td><%= contest.place %></td>
        <td><%= contest.date %></td>
        <td>
          <%= link_to 'Show', contest %>
          <%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>

<%= link_to "Add contest", new_contest_path(league: league) %>
<%= link_to 'Back', leagues_path %>
