<h1>New contest</h1>

<%= simple_form_for contest do |f| %>
  <%= f.input :date, as: :date, html5: true %>
  <%=f.hidden_field :league_id, value: contest.league.id %>

  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', leagues_path %>
